{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}

Detalhes

{% endblock %}

{% block content %}


{% if medico %}
<div class="container pt-5">
    <div class="card">
        <div class="container d-flex align-items-center">
            <div class="card-body">
                <h4 class="card-title p-2">{{x.nome}}</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        Telefone: {{x.tel}}
                    </li>
                    <li class="list-group-item">
                        Data de Entrada: {{x.dataDeEntrada}}
                    </li>
                    <li class="list-group-item">
                        Data de Nascimento: {{x.nascimento}}
                    </li>
                    <li class="list-group-item">
                        Sintomas: {{x.sintomas}}
                    </li>
                </ul>
            </div>
            {% if x.medicoResponsavel == medico %}
            <div class="container">
                <p class="p-sm text-end" id="C1"><button class="btn btn-outline-success" id="tratamento"
                        onclick="tratamento()">Prescrever medicação ou
                        tratamento!</button></p>
                <p class="p-sm text-end"><button class="btn btn-outline-success" id="Fbtn">Finalizar chamado!</button></p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% else %}

<p>LOGADO COMO PACIENTE!</p>

{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    function tratamento() {
        let c1 = window.document.getElementById('C1')
        if (window.document.getElementById('F1')) {
            c1.innerHTML = `
            <p class="p-sm text-end" id="C1"><button class="btn btn-outline-success" id="tratamento"
                onclick="tratamento()">Prescrever medicação ou
                tratamento!</button></p>
            `
        }
        else {
            c1.innerHTML += `
            <div class="input-group mb-3 pt-4 pb-2">
                <input type="text" class="form-control" placeholder="Escreva o tratamento!" id="F1">
                <button class="btn btn-outline-success" type="submit" id="C2">Preescrever!</button>
            </div>
            `
            let bt = window.document.getElementById('tratamento');
            bt.innerHTML = "Fechar prescrição de tratamento!"
        }
    };

    $(document).ready(function () {
        $(document).on('click', '#C2', function () {
            let tratamento = document.getElementById('F1').value
            $.ajax({
                url: '/enviartratamento/',
                type: 'get',
                data: {
                    'tratamento': tratamento,
                    'id': '{{x.id}}'
                },
                success: function () {
                    let input = document.getElementById('F1')
                    input.value = ""
                }
            });
        });
    });

    $(document).ready(function(){
        $(document).on('click', '#Fbtn', function(){
            $.ajax({
                url: '/finalizartratamento/',
                type: 'get',
                data: {
                    'id': '{{x.id}}'
                },
                success: function(){
                    <!-- criar um texto pedindo para digitar algum texto acima, como digite o nome do paciente para finalizar o tratamento! -->
                }
            });
        });
    });



</script>
{% endblock %}