{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}

Medico

{% endblock %}
<!-------------------------------------------->
{% block content %}

<div class="p-3 bg-black text-white text-center">
    <h1>Medico</h1>
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">|Inicio|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cadastro/">|Cadastrar|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login/">|Login|</a>
            </li>
            <li>
                <a class="nav-link" href="/logout/">|Logout|</a>
            </li>
            <li>
                <a class="nav-link" href="/paciente/">|Paciente|</a>
            </li>
            <li>
                <a class="nav-link" href="/medico/">|Medico|</a>
            </li>
        </ul>
    </div>
</nav>

{% if usera %}
{% if medico %}

<p>Olá, {{ nome }}. Você está logado.</p>

<div class="container">
    <h3 class="mb-3">Pacientes disponiveis para o atendimentos</h3>
    <ul class="list-group">
        {% for x in lista_de_pacientes %}
        {% if x.doente %}
        {% if x.medicoResponsavel is None %}
        <li class="list-group-item">
            <div class="container">
                <h4>{{x}} <a href="/medico/detalhes/{{x.id}}" style="font-size: 60%">Detalhes</a> </h4>
                <p>{{x.dataDeEntrada}}</p>
                <p>{{x.sintomas}}</p>
            </div>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="container">
    <h3 class="mb-3">Seus pacientes</h3>
    <ul class="list-group">
        {% for x in lista_de_pacientes %}
        {% if x.doente %}
        {% if x.medicoResponsavel|stringformat:"s" == nome|stringformat:"s" %}
        <li class="list-group-item">
            <div class="container">
                <h4>{{x}} <a href="/medico/detalhes/{{x.id}}" style="font-size: 60%">Detalhes</a> </h4>
                <p>{{x.dataDeEntrada}}</p>
                <p>{{x.sintomas}}</p>
            </div>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>
</div>


{% else %}
<p>Você não está logado como medico.</p>
{% endif %}
{% else %}
<p>Você não está logado.</p>
{% endif %}

{% endblock %}