{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}

Paciente

{% endblock %}
<!-------------------------------------------->
{% block content %}

<div class="p-3 bg-black text-white text-center">
    <h1>Paciente</h1>
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">|Inicio|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cadastro/">|Cadastrar|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login/">|Login|</a>
            </li>
            <li>
                <a class="nav-link" href="/logout/">|Logout|</a>
            </li>
            <li>
                <a class="nav-link" href="/paciente/">|Paciente|</a>
            </li>
            <li>
                <a class="nav-link" href="/medico/">|Medico|</a>
            </li>
        </ul>
    </div>
</nav>

{% if usera %}
{% if medico %}
<p>Você não está logado como paciente.</p>
{% else %}
<p>Olá, {{ user.username }}. Você está logado.</p>

{% if not doente %}
<div class="p-1 bg-white text-black text-center">
    <h1>Criar chamado!</h1>
    <h5 style="font-size: 90%">Obs: Você só pode criar um chamado por vez, quando este for fechado você poderá abrir
        outro!!!</h5>
</div>

<div class="container">
    <div class="row my-5">
        <div class="col-md-12">
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Criar chamado!</button>
            </form>
        </div>
    </div>
</div>
{% else %}

<div class="p-1 bg-white text-black text-center">
    <h1>Parabens!</h1>
    <h5 style="font-size: 200%">Seu chamado foi efetuado com sucesso em alguns instantes atualize a pagina para
        verificar quem será o medico responsavel!!!</h5>
    <h2>Sintomas: {{sintoma}}</h2>
    <h2>Data de entrada: {{data}}</h2>
    <h2>Medico responsavel: {{ medicoResponsavel }}</h2>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="p-1 bg-white text-black text-center">
    <h1>Cancelar Chamado!</h1>
    <h5 style="font-size: 90%">Obs: Você só pode criar um chamado por vez, quando este for fechado você poderá abrir
        outro!!!</h5>
</div>

<div class="container">
    <div class="row my-5">
        <div class="col-md-12">
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form2 %}
                <button type="submit" class="btn btn-primary">Cancelar!</button>
            </form>
        </div>
    </div>
</div>


{% endif %}


{% endif %}
{% else %}
<p>Você não está logado.</p>
{% endif %}

{% endblock %}