{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}

Paciente

{% endblock %}
<!-------------------------------------------->
{% block content %}

{% if usera %}
{% if medico %}
<p>Você não está logado como paciente.</p>
{% else %}
<p>Olá, {{ nome }}. Você está logado.</p>

{% if not doente %}
<div class="p-1 bg-white text-black text-center">
    <h1>Criar chamado!</h1>
    <h5 style="font-size: 90%">Obs: Você só pode criar um chamado por vez, quando este for fechado você poderá abrir
        outro!!!</h5>
</div>

<div class="container">
    <div class="row my-5">
        <div class="col-md-12">
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Criar chamado!</button>
            </form>
        </div>
    </div>
</div>
{% else %}

<div class="container">
    <h1 class="mb-3">Chamado atual</h1>
    <div class="card">
        <div class="container d-flex">
            <div class="container p-3">
                <h4 class="card-title">{{nome}}</h4>
                <p class="card-text">
                    Sintomas: {{sintoma}} <br>
                    Data de entrada: {{data}} <br>
                    Medico responsavel: {{ medicoResponsavel }} <br>
                </p>
            </div>
            <div class="container p-5 d-flex justify-content-end">
                <p class="p-sm">
                    <button class="btn btn-outline-warning"><a class="page-link" href="acompanharchamado/{{idp}}">Acompanhar chamado!</a></button>
                </p>
            </div>
        </div>
    </div>
</div>

<br><br><br>

<div class="container">
    <h1 class="mb-3">Cancelar Chamado</h1>
    <h5 style="font-size: 90%">Obs: Você só pode criar um chamado por vez, quando este for fechado você poderá abrir
        outro!!!</h5>
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form2 %}
        <button type="submit" class="btn btn-outline-danger">Cancelar!</button>
    </form>
</div>


{% endif %}


{% endif %}
{% else %}
<p>Você não está logado.</p>
{% endif %}

{% endblock %}